Repository tyankatsu0105/cz-format-extension: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx sort-package-json

.lintstagedrc:

{
   "*.ts": [
      "eslint --fix"
    ],
    "*.{md,yml}": [
      "prettier --write"
    ],
    "package.json": [
      "npx sort-package-json"
    ]
}

chore: release v1.3.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, npx sort-package-json

chore: release v1.3.0 (#73)
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, npx sort-package-json

feat: add isFirstCommitOnCurrentBranch
  src/util/gitInfo.ts
Due: eslint --fix

feat: add trackingBranch
  src/types.ts
  src/util/gitInfo.ts
Due: eslint --fix

feat: add countCommitToTrackingBranch
  src/types.ts
  src/util/gitInfo.ts
Due: eslint --fix

feat: add some info to gitInfo (#75)
  src/types.ts
  src/util/gitInfo.ts
Due: eslint --fix

chore: release v1.4.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, npx sort-package-json

chore: release v1.4.0 (#76)
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, npx sort-package-json

chore: update example
  example/conventional-commits/.czferc.js
Due: none

build: drop nodejs 10
  package.json
Due: npx sort-package-json

build: drop nodejs 10 (#86)
  package.json
Due: npx sort-package-json

ci: refactor action
  .github/workflows/release.yml
Due: prettier --write

ci: refactor action (#87)
  .github/workflows/release.yml
Due: prettier --write

build: update all package's version
  .github/workflows/release.yml
  jest.config.js
  package-lock.json
  package.json
Due: prettier --write, npx sort-package-json

build: update all package's version (#88)
  .github/workflows/release.yml
  jest.config.js
  package-lock.json
  package.json
Due: prettier --write, npx sort-package-json

ci: add test workflow
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/type-check.yml
Due: prettier --write

ci: change cache strategy
  .github/workflows/test.yml
  .github/workflows/type-check.yml
Due: prettier --write

ci: use npm install
  .github/workflows/test.yml
  .github/workflows/type-check.yml
Due: prettier --write

ci: use npm ci
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/type-check.yml
Due: prettier --write

ci: add test workflow (#89)
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/type-check.yml
Due: prettier --write

chore: release v1.4.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, npx sort-package-json

chore: release v1.4.1 (#90)
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, npx sort-package-json

build: update deps
  package-lock.json
  package.json
Due: npx sort-package-json

build: add swc/jest
  jest.config.js
  package-lock.json
  package.json
Due: npx sort-package-json

Update deps (#92)
  jest.config.js
  package-lock.json
  package.json
Due: npx sort-package-json

chore: release v1.4.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, npx sort-package-json

chore: release v1.4.2 (#93)
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, npx sort-package-json

build: upgrade dependencies
  .tool-versions
  package-lock.json
  package.json
Due: npx sort-package-json

build: upgrade dependencies (#97)
  .tool-versions
  package-lock.json
  package.json
Due: npx sort-package-json

feat: support node v16, v17, v18
  .github/workflows/test.yml
  .github/workflows/type-check.yml
  package.json
Due: prettier --write, npx sort-package-json

ci: change matrix syntax
  .github/workflows/test.yml
  .github/workflows/type-check.yml
Due: prettier --write

feat: fix support version
  .github/workflows/test.yml
  .github/workflows/type-check.yml
  package.json
Due: prettier --write, npx sort-package-json

feat: support node v16, v17 (#98)
  .github/workflows/test.yml
  .github/workflows/type-check.yml
  package.json
Due: prettier --write, npx sort-package-json

chore: release v1.5.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, npx sort-package-json

chore: release v1.5.0 (#99)
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, npx sort-package-json

chore: move test file into src
  jest.config.js
  package.json
  src/util/gitInfo.spec.ts
  src/util/initialize.spec.ts
  tsconfig.build.json
  tsconfig.json
  tsconfig.test.json
Due: eslint --fix, npx sort-package-json

build: uninstall eslint-plugin-prettier
  .eslintrc.js
  .lintstagedrc
  package-lock.json
  package.json
Due: npx sort-package-json
