Repository tyankatsu0105/cz-format-extension: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx sort-package-json

.lintstagedrc:

{
   "*.ts": [
      "eslint --fix"
    ],
    "*.{md,yml}": [
      "prettier --write"
    ],
    "package.json": [
      "npx sort-package-json"
    ]
}

chore: add shipjs
  .github/workflows/release.yml
  package-lock.json
  package.json
Due: prettier --write, npx sort-package-json

chore: add shipjs (#52)
  .github/workflows/release.yml
  package-lock.json
  package.json
Due: prettier --write, npx sort-package-json

chore: add files field
  package.json
Due: npx sort-package-json

build: upgrade dependencies
  package-lock.json
  package.json
Due: npx sort-package-json

chore: add files field (#53)
  package-lock.json
  package.json
Due: npx sort-package-json

chore: remove test
  package.json
Due: npx sort-package-json

chore: release v1.0.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, npx sort-package-json

chore: release v1.0.0 (#54)
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, npx sort-package-json

chore: add sandbox
  .czferc.js
  .gitignore
  CONTRIBUTING.md
  scripts/create-sandbox
  scripts/test-cli
Due: prettier --write

chore: add sandbox (#55)
  .czferc.js
  .gitignore
  CONTRIBUTING.md
  scripts/create-sandbox
  scripts/test-cli
Due: prettier --write

feat: add git-repo-info
  README.md
  package-lock.json
  package.json
  src/engine.ts
  src/util/initialize.ts
Due: eslint --fix, prettier --write, npx sort-package-json

feat: add git-repo-info (#56)
  README.md
  package-lock.json
  package.json
  src/engine.ts
  src/util/initialize.ts
Due: eslint --fix, prettier --write, npx sort-package-json

chore: release v1.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, npx sort-package-json

chore: release v1.1.0 (#57)
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, npx sort-package-json

feat: publish types
  package-lock.json
  package.json
  src/engine.ts
  src/types.ts
  src/util/initialize.ts
  tsconfig.build.json
Due: eslint --fix, npx sort-package-json

feat: export types at index.ts
  README.md
  package.json
  src/index.ts
Due: eslint --fix, prettier --write, npx sort-package-json

feat: publish types (#58)
  README.md
  package-lock.json
  package.json
  src/engine.ts
  src/index.ts
  src/types.ts
  src/util/initialize.ts
  tsconfig.build.json
Due: eslint --fix, prettier --write, npx sort-package-json

chore: release v1.2.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, npx sort-package-json

chore: release v1.2.0 (#59)
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, npx sort-package-json

chore: add logo
  README.md
  assets/logo.png
  assets/logo.svg
Due: prettier --write

chore: add logo (#60)
  README.md
  assets/logo.png
  assets/logo.svg
Due: prettier --write

chore: add test module
  package-lock.json
  package.json
Due: npx sort-package-json

feat: setup jest
  jest.config.js
  tsconfig.test.json
Due: none

feat: create test initialize
  __test__/util/ initialize.spec.ts
Due: eslint --fix

fix: dependencies move @types/inquirer
  package-lock.json
  package.json
Due: npx sort-package-json

refactor: jest testing files remove tsx
  jest.config.js
Due: none

refactor: rewrite test description english
  __test__/util/ initialize.spec.ts
Due: eslint --fix

chore: rename testing folder
  tests/util/initialize.spec.ts
Due: eslint --fix

chore: fix test config
  jest.config.js
  tsconfig.test.json
Due: none

chore: support node engine 10, 12, 14
  package.json
Due: npx sort-package-json

test: set up testing environment of jest and add test (#66)
  jest.config.js
  package-lock.json
  package.json
  tests/util/initialize.spec.ts
  tsconfig.test.json
Due: eslint --fix, npx sort-package-json

chore(example): add example of conventional commits
  README.md
  example/README.md
  example/conventional-commits/.czferc.js
  example/conventional-commits/README.md
  example/conventional-commits/types.json
Due: prettier --write

chore: add separator example
  example/separator/.czferc.js
  example/separator/README.md
Due: prettier --write

chore: add git-info example
  example/git-info/.czferc.js
  example/git-info/README.md
Due: prettier --write

chore(example): add example (#70)
  README.md
  example/README.md
  example/conventional-commits/.czferc.js
  example/conventional-commits/README.md
  example/conventional-commits/types.json
  example/git-info/.czferc.js
  example/git-info/README.md
  example/separator/.czferc.js
  example/separator/README.md
Due: prettier --write

feat: improve gitInfo
  README.md
  package-lock.json
  package.json
  src/engine.ts
  src/types.ts
  src/util/gitInfo.ts
  src/util/index.ts
Due: eslint --fix, prettier --write, npx sort-package-json

test: add gitInfo spec
  src/util/gitInfo.ts
  tests/util/gitInfo.spec.ts
Due: eslint --fix

test: add git class
  package-lock.json
  package.json
  src/util/gitInfo.ts
  tests/.jest/helpers/git.ts
  tests/.jest/helpers/index.ts
  tests/util/gitInfo.spec.ts
Due: eslint --fix, npx sort-package-json

test: remove unnecessary test case
  package-lock.json
  package.json
  tests/.jest/helpers/git.ts
  tests/.jest/helpers/index.ts
  tests/util/gitInfo.spec.ts
Due: eslint --fix, npx sort-package-json

feat: improve gitInfo (#72)
  README.md
  package-lock.json
  package.json
  src/engine.ts
  src/types.ts
  src/util/gitInfo.ts
  src/util/index.ts
  tests/util/gitInfo.spec.ts
Due: eslint --fix, prettier --write, npx sort-package-json
